/* Basic styling */
body {
    font-family: sans-serif;
    line-height: 1.3;
    font-size: 1rem;
    background-color:beige;
    color: darkslategray;
}

hr {
    border: none;
    height: 1px;
    background-color: olivedrab;
    width: 100%;
}

button {
    outline: none;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
}

/* Invite styling */
section {
    max-width: 900px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.invite-title {
    text-align: center;
    margin-bottom: 2rem;
}

.invite-map {
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
}

.align-left {
    text-align: left;
}

footer {
    margin-top: 2rem;
    text-align: center;
    a {
        color: inherit;
        font-size: 0.9rem;
    }
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: inherit;

   div {
    display: flex;
    gap: 1.5rem;
    label {
        flex: 1;
        font-weight: 600;
    }
    input {
        flex: 2;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 1.1rem
    }
   }
}